.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 98;
}

.dialog-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 23.368rem;
  padding: 2.211rem 3.526rem 2.579rem;
  font-family: "Akrobat";
  background: rgba(0, 0, 0, 0.95);
  

  span {
    width: 100%;
    display: block;
    margin-bottom: 1.684rem;
    font-weight: 700;
    font-size: 1.263rem;
    line-height: 1.526rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    white-space: pre-wrap;
    position: relative;
  }

  .dialog-menu__actions {
    display: flex;
    flex-direction: column;
    gap: 0.526rem;
    width: 100%;
  }
}
.scale-in-enter-active,
.scale-in-leave-active {
  transition: all 0.4s;
}
.scale-in-enter,
.scale-in-leave-to {
  transform: scale(0.2);
  opacity: 0;
}