@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat Thin'), local('Akrobat-Thin'), url(./Akrobat-Thin.woff2);
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat ExtraLight'), local('Akrobat-ExtraLight'), url(./Akrobat-ExtraLight.woff2);
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat Light'), local('Akrobat-Light'), url(./Akrobat-Light.woff2);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat'), local('Akrobat-Regular'), url(./Akrobat-Regular.woff2);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat SemiBold'), local('Akrobat-SemiBold'), url(./Akrobat-SemiBold.woff2);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat Bold';
	src: local('Akrobat Bold'), local('Akrobat-Bold'), url(./Akrobat-Bold.woff2);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat ExtraBold'), local('Akrobat-ExtraBold'), url(./Akrobat-ExtraBold.woff2);
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Akrobat';
	src: local('Akrobat Black'), local('Akrobat-Black'), url(./Akrobat-Black.woff2);
	font-weight: 900;
	font-style: normal;
}