@use 'sass:math';

@function rem($size) {
  $root-font-size: 16px;
  @return math.div($size, $root-font-size) * 1rem;
}

html{
    font-size: 0.85vw;
}

.car-list-box{
    display: inline-block;
    background: rgba(0, 0, 0, 0.25);
    width: rem(295px);
    height: rem(112px);
    margin-left: 10px;
    padding: rem(23px) 0 rem(23px) rem(20px);
}

.avtobuy{
    padding: rem(26px) rem(50px) rem(26px) rem(50px);
}

.car-list-box-price{
    width: rem(97px);
    height: rem(29px);
    font-size: rem(16px);
}

.test-drive{
    width: rem(295px);
    height: rem(75px);
}

.nal{
    width: rem(145px);
    height: rem(75px);
}

.card{
    width: rem(145px);
    height: rem(75px);
}

.buy{
    width: rem(295px);
    height: rem(75px);
}

.ActiveCar{
    background: linear-gradient(180deg, rgba(219, 18, 27, 0.5) 0%, rgba(123, 9, 14, 0.5) 100%);
}

.card-text{
    font-size: rem(18px);
}

.buy{
    font-size: rem(24px);
}

.test-drive{
    font-size: rem(24px);
}